<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhml" xmlns:th="http://www.thymeleaf.org">
    
    <head>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <link th:href="@{/styles/style.css}" rel="stylesheet" />        <meta charset="UTF-8">
        <title>Vepick Web Application</title>
    </head>
    <body>
        <h2 class="h2">Bornettes de la station</h2>
        <table>
            <thead>
                <tr>
                    <th>numero bornette</th>
                    <th>libre</th>
                    <th>velo</th>
                    <th>etat velo</th>
                </tr>
            </thead>
            <tbody>
                <tr th:if="${bornettes.empty}">
                    <td colspan="3">Aucune bornette dans la base de données</td>
                </tr>
                <tr th:each="bornette : ${bornettes}">
                    <td><span th:text="${bornette.id}">numero bornette</span></td>
                    <td><span th:text="${bornette.libre}">libre</span></td>
                    <td><span th:text="${bornette.veloStationnee}">velo</span></td>
                    <td><span th:text="${bornette?.veloStationnee?.etat}">etat velo</span></td>
                    <!-- <td><a th:href="@{/station/{id}(id=${station.id})}">Se connecter </a></td> -->
                </tr>
            </tbody>
        </table>
        <h3>Pour louer un velo, cliquez sur le modèle souhaité</h3>
            <ul>
                <li th:each="modele : ${models}"><a th:href="@{/station/{id}/new-location/{nomModel}(id=${station.id}, nomModel=${modele.nom})}"><span th:text="${modele.nom}"></span></a></li>
            </ul>
        <!-- <h3><a th:href="@{/station/{id}/location(id=${station.id})}">Louer un velo</a></h3>
        <h3><a th:href="@{/station/{id}/fin-location(id=${station.id})}">Rendre un velo</a></h3> -->

        <h2>Vos locations en cours:</h2>
        <p th:if="${liveLocations.empty}">
            Vous n'avez pas de location en cours
        </p>
        <table>
                <tr th:each="location : ${liveLocations}" th:if="${location.enCours}==true">
                    <!-- <tr th:each="location : ${locations}" th:if="${location.enCours}==true"> -->
                    <td><span th:text="${location.velo}">velo</span></td>
                    <td><span th:text="${location.date}">date</span></td>
                    <td>
                        <a th:href="@{/station/{id}/fin-location/{idLocation}(id=${station.id}, idLocation=${location.id})}">Rendre le velo</a></td>
                        
                    <td th:if="${location.velo.etat == T(com.miage.vepick.model.EtatEnum).OK}"><a th:if="${location.velo.etat == T(com.miage.vepick.model.EtatEnum).OK}"th:href="@{/station/{id}/velo/{veloId}/panne(id=${station.id},veloId=${location.velo.id})}">Signaler panne</a></td>
                    <td><span th:unless="${location.velo.etat == T(com.miage.vepick.model.EtatEnum).OK}">panne signalée</span></td>
                 </tr>
        </table>
        <br>
        <h2>Vos locations passées:</h2>
        <p th:if="${oldLocations.empty}">
            Vous n'avez pas encore effectué de location
        </p>
        <table>
                <tr th:each="location : ${oldLocations}" th:if="${location.enCours}==false">
                    <!-- <tr th:each="location : ${locations}" th:if="${location.enCours}==true"> -->
                    <td><span th:text="${location.velo}">velo</span></td>
                    <td><span th:text="${location.dateFin}">date</span></td>
                    <!-- <td><a th:href="@{/station/{id}/fin-location/{idLocation}(id=${station.id}, idLocation=${location.id})}">Rendre le velo</a></td> -->
                 </tr>
        </table>
        <br>
        <h2><a th:href="@{/}">retour</a></h2>
    </body>
</html>